/* body */
html, body{ height:100%; line-height:150%; color:#666; font-family:gulim, dotum;}

/* commmon guide */
#headerwrap{ position:relative; width:100%; min-width:1200px;}
#logo{ position:absolute; right:30px; top:37px; z-index:70;}
#topetcmenu{ position:relative; width:100%; height:29px; background:url(/app/views/images/common/bg_topetcmenu.gif) repeat;}
#topetcmenu dd{ padding:6px 0 0 40px; color:#444444;}
#topetcmenu dd a{ color:#999999;}
#topetcmenu dd a:hover{ color:#cccccc;}
#gnb{ position:relative; width:100%; height:90px; background:url(/app/views/images/common/gnbbg1.gif) repeat;}
#gnb dt{ position:absolute; top:0;}
#gnb #gnb1{ left:27px;}
#gnb #gnb2{ left:151px;}
#gnb #gnb3{ left:261px;}
#gnb #gnb4{ left:377px;}
#gnb #gnb5{ left:506px;}
#gnb #gnb6{ left:625px;}
#gnb dd{ position:absolute; z-index:31; top:90px; left:0; width:100%; height:86px; text-align:left; visibility:hidden;}
#gnb #gnbs1{ background:url(/app/views/images/common/bg_gnbsb_01.gif) repeat; border-bottom:solid 1px #67c000;}
#gnb #gnbs2{ background:url(/app/views/images/common/bg_gnbsb_02.gif) repeat; border-bottom:solid 1px #da9500;}
#gnb #gnbs3{ background:url(/app/views/images/common/bg_gnbsb_03.gif) repeat; border-bottom:solid 1px #00a080;}
#gnb #gnbs4{ background:url(/app/views/images/common/bg_gnbsb_04.gif) repeat; border-bottom:solid 1px #0083e8;}
#gnb #gnbs5{ background:url(/app/views/images/common/bg_gnbsb_05.gif) repeat; border-bottom:solid 1px #ac38f6;}
#gnb #gnbs6{ background:url(/app/views/images/common/bg_gnbsb_06.gif) repeat; border-bottom:solid 1px #999999;}


.hidden{ visibility:hidden; position:absolute; font-size:0; width:0; height:0; line-height:0; margin:0; padding:0; background:none;}

/* header */
#header h3{ position:absolute; left:0; top:0; visibility:hidden; width:0; height:0; font-size:0; line-height:0}

/* h1 */
h1{ position:absolute; top:0; left:0; z-index:40;}

/* container & title */
#containerwrap{ min-width:1200px;}
#containerwrap #container{ width:; margin:0; text-align:left;}
#containerwrap #container .titlebox{ height:148px; background:url(/app/views/images/common/bg_subtitle.gif) left top repeat-x;}
#containerwrap #container .titlebox .title_1_1,
#containerwrap #container .titlebox .title_1_2,
#containerwrap #container .titlebox .title_1_3,
#containerwrap #container .titlebox .title_1_4,
#containerwrap #container .titlebox .title_1_5,
#containerwrap #container .titlebox .title_1_6,
#containerwrap #container .titlebox .title_1_7,
#containerwrap #container .titlebox .title_1_8,
#containerwrap #container .titlebox .title_1_9,
#containerwrap #container .titlebox .title_1_10{ display:block; height:148px; background:url(/app/views/images/common/img_subtitle1bg.jpg) right top no-repeat;}
#containerwrap #container .titlebox .title_2_1,
#containerwrap #container .titlebox .title_2_2,
#containerwrap #container .titlebox .title_2_3{ display:block; height:148px; background:url(/app/views/images/common/img_subtitle2bg.jpg) right top no-repeat;}
#containerwrap #container .titlebox .title_3_1,
#containerwrap #container .titlebox .title_3_2,
#containerwrap #container .titlebox .title_3_3{ display:block; height:148px; background:url(/app/views/images/common/img_subtitle3bg.jpg) right top no-repeat;}
#containerwrap #container .titlebox .title_4_1,
#containerwrap #container .titlebox .title_4_2,
#containerwrap #container .titlebox .title_4_3{ display:block; height:148px; background:url(/app/views/images/common/img_subtitle4bg.jpg) right top no-repeat;}
#containerwrap #container .titlebox .title_5_1,
#containerwrap #container .titlebox .title_5_2,
#containerwrap #container .titlebox .title_5_3,
#containerwrap #container .titlebox .title_5_4{ display:block; height:148px; background:url(/app/views/images/common/img_subtitle5bg.jpg) right top no-repeat;}
#containerwrap #container .titlebox .title_6_1,
#containerwrap #container .titlebox .title_6_2,
#containerwrap #container .titlebox .title_6_3,
#containerwrap #container .titlebox .title_6_4,
#containerwrap #container .titlebox .title_6_5,
#containerwrap #container .titlebox .title_6_6,
#containerwrap #container .titlebox .title_6_7{ display:block; height:148px; background:url(/app/views/images/common/img_subtitle6bg.jpg) right top no-repeat;}

/* path */
#container .path{ margin:30px 0 0 20px; color:#999; font-size:11px; font-family:dotum; text-align:left;}
#container .path p{ text-align:left;}
#container .path p a:link,
#container .path p a:visited{ color:#999; }
#container .path p a:hover,
#container .path p a:focus,
#container .path p a:active { color:#666; text-decoration:none}
#container .path p strong{ font-weight:bold; color:#f93;}

.contentswrap{ margin:20px 20px 0 20px; position:relative}
.contentswrap p{ text-align:left;}
#datalisttapmenu{ height:38px; background:url(/app/views/images/common/bg_tapm1bg.gif) left top repeat-x;}
#datalisttapmenu dd{ display:block; width:150px; float:left; height:34px;}
.datalisttapmenu1 .menu1{ width:152px !important; background:url(/app/views/images/common/bg_tapm1a_01.gif) left top no-repeat;}
.datalisttapmenu1 .menu2{ background:url(/app/views/images/common/bg_tapm1a_02.gif) left top no-repeat;}
.datalisttapmenu1 .menu3{ background:url(/app/views/images/common/bg_tapm1a_03.gif) left top no-repeat;}
.datalisttapmenu2 .menu1{ width:152px !important; background:url(/app/views/images/common/bg_tapm1b_01.gif) left top no-repeat;}
.datalisttapmenu2 .menu2{ background:url(/app/views/images/common/bg_tapm1b_02.gif) left top no-repeat;}
.datalisttapmenu2 .menu3{ background:url(/app/views/images/common/bg_tapm1b_03.gif) left top no-repeat;}
.datalisttapmenu3 .menu1{ width:152px !important; background:url(/app/views/images/common/bg_tapm1c_01.gif) left top no-repeat;}
.datalisttapmenu3 .menu2{ background:url(/app/views/images/common/bg_tapm1c_02.gif) left top no-repeat;}
.datalisttapmenu3 .menu3{ background:url(/app/views/images/common/bg_tapm1c_03.gif) left top no-repeat;}
#datalisttapmenu dd a{ display:block; width:150px; padding-top:10px; text-align:center; color:#999;}
#datalisttapmenu dd a:hover{ color:#f70;}
#datalisttapmenu dd .strong{ color:#f70; font-weight:bold;}

#area_tab_all{ height:38px; background:url(/app/views/images/common/bg_tapm1bg.gif) left top repeat-x;}
#area_tab_all dd{ display:block; width:150px; float:left; height:34px;}
.datalisttapmenu1 .menu1{ width:152px !important; background:url(/app/views/images/common/bg_tapm1a_01.gif) left top no-repeat;}
.datalisttapmenu1 .menu2{ background:url(/app/views/images/common/bg_tapm1a_02.gif) left top no-repeat;}
.datalisttapmenu1 .menu3{ background:url(/app/views/images/common/bg_tapm1a_03.gif) left top no-repeat;}
.datalisttapmenu2 .menu1{ width:152px !important; background:url(/app/views/images/common/bg_tapm1b_01.gif) left top no-repeat;}
.datalisttapmenu2 .menu2{ background:url(/app/views/images/common/bg_tapm1b_02.gif) left top no-repeat;}
.datalisttapmenu2 .menu3{ background:url(/app/views/images/common/bg_tapm1b_03.gif) left top no-repeat;}
.datalisttapmenu3 .menu1{ width:152px !important; background:url(/app/views/images/common/bg_tapm1c_01.gif) left top no-repeat;}
.datalisttapmenu3 .menu2{ background:url(/app/views/images/common/bg_tapm1c_02.gif) left top no-repeat;}
.datalisttapmenu3 .menu3{ background:url(/app/views/images/common/bg_tapm1c_03.gif) left top no-repeat;}
#area_tab_all dd a{ display:block; width:150px; padding-top:10px; text-align:center; color:#999;}
#area_tab_all dd a:hover{ color:#f70;}
#area_tab_all dd .strong{ color:#f70; font-weight:bold;}

#statslisttapmenu{ height:38px; background:url(/app/views/images/common/bg_tapm2bg.gif) left top repeat-x;}
#statslisttapmenu dd{ display:block; width:150px; float:left; height:34px;}
.statslisttapmenu1 .menu1{ width:152px !important; background:url(/app/views/images/common/bg_tapm2a_01.gif) left top no-repeat;}
.statslisttapmenu1 .menu2{ background:url(/app/views/images/common/bg_tapm2a_02.gif) left top no-repeat;}
.statslisttapmenu2 .menu1{ width:152px !important; background:url(/app/views/images/common/bg_tapm2b_01.gif) left top no-repeat;}
.statslisttapmenu2 .menu2{ background:url(/app/views/images/common/bg_tapm2b_02.gif) left top no-repeat;}
#statslisttapmenu dd a{ display:block; width:150px; padding-top:10px; text-align:center; color:#999;}
#statslisttapmenu dd a:hover{ color:#3366cc;}
#statslisttapmenu dd .strong{ color:#3366cc; font-weight:bold;}

#adminlisttapmenu{ height:38px; background:url(/app/views/images/common/bg_tapm3bg.gif) left top repeat-x;}
#adminlisttapmenu dd{ display:block; width:150px; float:left; height:34px;}
#adminlisttapmenu dd a{ display:block; width:150px; padding-top:10px; text-align:center; color:#999;}
#adminlisttapmenu dd a:hover{ color:#000;}
#adminlisttapmenu dd .strong{ color:#333; font-weight:bold;}
.adminlisttapmenu1 .menu1{ background:url(/app/views/images/common/bg_tapm3a_01.gif) left top no-repeat;}
.adminlisttapmenu1 .menu2{ background:url(/app/views/images/common/bg_tapm3a_02.gif) left top no-repeat;}
.adminlisttapmenu1 .menu3{ background:url(/app/views/images/common/bg_tapm3c_01.gif) left top no-repeat;}
.adminlisttapmenu1 .menu4{ background:url(/app/views/images/common/bg_tapm3c_01.gif) left top no-repeat;}
.adminlisttapmenu1 .menu5{ background:url(/app/views/images/common/bg_tapm3a_03.gif) left top no-repeat;}

.adminlisttapmenu2 .menu1{ background:url(/app/views/images/common/bg_tapm3b_01.gif) left top no-repeat;}
.adminlisttapmenu2 .menu2{ background:url(/app/views/images/common/bg_tapm3b_02.gif) left top no-repeat;}
.adminlisttapmenu2 .menu3{ background:url(/app/views/images/common/bg_tapm3a_02.gif) left top no-repeat;}
.adminlisttapmenu2 .menu4{ background:url(/app/views/images/common/bg_tapm3c_01.gif) left top no-repeat;}
.adminlisttapmenu2 .menu5{ background:url(/app/views/images/common/bg_tapm3a_03.gif) left top no-repeat;}

.adminlisttapmenu3 .menu1{ background:url(/app/views/images/common/bg_tapm3c_01.gif) left top no-repeat;}
.adminlisttapmenu3 .menu2{ background:url(/app/views/images/common/bg_tapm3c_01.gif) left top no-repeat;}
.adminlisttapmenu3 .menu3{ background:url(/app/views/images/common/bg_tapm3b_02.gif) left top no-repeat;}
.adminlisttapmenu3 .menu4{ background:url(/app/views/images/common/bg_tapm3a_02.gif) left top no-repeat;}
.adminlisttapmenu3 .menu5{ background:url(/app/views/images/common/bg_tapm3a_03.gif) left top no-repeat;}

.adminlisttapmenu4 .menu1{ background:url(/app/views/images/common/bg_tapm3c_01.gif) left top no-repeat;}
.adminlisttapmenu4 .menu2{ background:url(/app/views/images/common/bg_tapm3c_01.gif) left top no-repeat;}
.adminlisttapmenu4 .menu3{ background:url(/app/views/images/common/bg_tapm3c_01.gif) left top no-repeat;}
.adminlisttapmenu4 .menu4{ background:url(/app/views/images/common/bg_tapm3b_02.gif) left top no-repeat;}
.adminlisttapmenu4 .menu5{ background:url(/app/views/images/common/bg_tapm3b_03.gif) left top no-repeat;}

.adminlisttapmenu5 .menu1{ background:url(/app/views/images/common/bg_tapm3c_01.gif) left top no-repeat;}
.adminlisttapmenu5 .menu2{ background:url(/app/views/images/common/bg_tapm3c_01.gif) left top no-repeat;}
.adminlisttapmenu5 .menu3{ background:url(/app/views/images/common/bg_tapm3c_01.gif) left top no-repeat;}
.adminlisttapmenu5 .menu4{ background:url(/app/views/images/common/bg_tapm3c_02.gif) left top no-repeat;}
.adminlisttapmenu5 .menu5{ background:url(/app/views/images/common/bg_tapm3c_03.gif) left top no-repeat;}

#adminlisttapsubmenu{ margin:15px 0 0 0; height:45px;}
#adminlisttapsubmenu dt{ margin:1px; padding:2px; float:left; background:#eee;}
#adminlisttapsubmenu dt a{ display:block; padding:4px 20px 3px 35px; text-align:center; color:#666666; background:url(/app/views/images/common/icon_mbbs1.gif) 20px center no-repeat; border:solid 1px #ccc;}
#adminlisttapsubmenu .strong{ background:#ccc;}
#adminlisttapsubmenu .strong a{ color:#555; border:solid 1px #fff; font-weight:bold;}


#adminlisttapmenu2{ height:38px; background:url(/app/views/images/common/bg_tapm3bg.gif) left top repeat-x;}
#adminlisttapmenu2 dd{ display:block; width:150px; float:left; height:34px;}
#adminlisttapmenu2 dd a{ display:block; width:150px; padding-top:10px; text-align:center; color:#999;}
#adminlisttapmenu2 dd a:hover{ color:#000;}
#adminlisttapmenu2 dd .strong{ color:#333; font-weight:bold;}
.adminlisttapmenu10 .menu1{ background:url(/app/views/images/common/bg_tapm3a_01.gif) left top no-repeat;}
.adminlisttapmenu10 .menu2{ background:url(/app/views/images/common/bg_tapm3b_03.gif) left top no-repeat;}

.adminlisttapmenu20 .menu1{ background:url(/app/views/images/common/bg_tapm3b_01.gif) left top no-repeat;}
.adminlisttapmenu20 .menu2{ background:url(/app/views/images/common/bg_tapm3c_03.gif) left top no-repeat;}

.contentswrap .bbstitle1,
.contentswrap .bbstitle2,
.contentswrap .bbstitle3{ margin:10px 0 10px 0; padding-left:25px; border-bottom:solid 1px #ddd; font-weight:bold; color:#333; background:url(/app/views/images/common/icon_bbstitle1.gif) left center no-repeat;}
.contentswrap .bbstitle3 strong{ color:#007ef1;}
.contentswrap .bbssubtitle1{ padding-bottom:5px; font-weight:bold; border-bottom:solid 1px #ddd;  background:#fff;}

/* right conts_title */
#contents h2{ display:block; width:100%; padding:0px 0 5px 0;}

/* partners */
#partners{ clear:both; maingin:20px 0 0 0; border:0; border-top:dashed 1px #ccc; height:80px;}
#partners #links{ position:relative;}
#partners #links li{ position:absolute; top:16px; width:120px;text-align:center;}
#partners #links .pbn01{left:24px;}
#partners #links .pbn02{left:210px; top:12px;}
#partners #links .pbn03{left:430px;}
#partners #links .pbn04{left:870px; top:20px;}
#partners #links .pbn05{left:1070px;}

/* footer */
#footerwrap{ clear:both; maingin:20px 0 0 0; border:0; border-top:dashed 1px #ccc; background:#f5f5f5;}
#footerwrap #footer address{ width:1200px; height:35px; display:block; text-indent:-500em; background:url(/app/views/images/common/bn_botinfo.gif) 26px 6px no-repeat;}


/* STATISTICS  */
.btn_LCASTATIS{ position:absolute; right:0; top:10px;}